doctype html
html
  head
  body
    style. 
      div {
                  background-color: lightgray;
                  width: 300px;
                  height: #{Gheight}px;
                }
    p Snow Height in #{location}: #{height} inches
    div
